@use "sass:color";
@import "../../../styles/variables";

.Input {
  width: 100%;
  border-radius: 10px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  border: 1px solid $blue;
  color: $black;

  &::placeholder {
    color: #6C6C6C;
  }

  &:focus {
    outline: none;
  }

}

.Input-Warning {
  border-color: #ff0000;

  &::placeholder {
    color: #ff0000;
  }
}